<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<script src="https://unpkg.com/vue@next"></script>
<head>
    <meta charset="utf-8">
    <title>Video phrase list</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/main.css">
    <script src="hardcoded.js"></script>
</head>
<body id="app">
<div class="all">

    <movie-name></movie-name>

    <div id="todo-list-example" class="demo">
        <ul>
            <todo-item
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-on:remove="todos.splice(index, 1)"
            ></todo-item>
        </ul>
    </div>

    <take-test-button></take-test-button>
</div>
<script src="main.js"></script>
</body>
</html>