<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Translate Subtitles Player</title>
        <link rel="shortcut icon" href="/images/logo.png" type="image/png">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/raw-movie.css">
        <script th:inline="javascript">
            var serverUsername = /*[[${username}]]*/ null;
            var serverMovies = /*[[${movies}]]*/ null;
            var serverMovie = /*[[${movie}]]*/ null;
            var serverTest = /*[[${test}]]*/ null;
            var serverRawMovies = /*[[${rawMovies}]]*/ null;
            var serverRawMovie = /*[[${rawMovie}]]*/ null;
        </script>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="vue-app">
            <div id="main" class="shell" v-if="username">
                <nav id="navigation" class="nav-bar">
                    <a href="/raw-movies/" @click.prevent="onRawMoviesClicked">Raw Movies</a>
                    <a href="/movies/" @click.prevent="onMoviesClicked">Movies</a>
                    <a href="/logout/" @click.prevent="onLogoutClicked">Logout ({{ username }})</a>
                </nav>
                <div id="content">
                    <div id="raw-movies-content" class="content" v-if="rawMovies">
                        <ul id="raw-movie-list">
                            <li v-for="rawMovie in rawMovies">
                                <a v-bind:href="'raw-movies/' + rawMovie.id" @click.prevent="onRawMovieClicked">{{ rawMovie.videoFilePath }}</a>
                            </li>
                        </ul>
                    </div>
                    <div id="raw-movie-content" class="content" v-if="rawMovie">
                        <div class="raw-movie-dictionary">
                            <label>Dictionary:</label>
                            <input type="search" list="dictionary-data-list" placeholder="Select a dictionary or create a new one"/>
                            <datalist id="dictionary-data-list"></datalist>
                        </div>
                        <div class="raw-movie-half">
                            <h6>Subtitles</h6>
                            <component v-bind:is="computedSubtitles"></component>
                        </div>
                        <div class="raw-movie-half">
                            <h6>Context</h6>
                            <div id="raw-movie-context" class="raw-movie-context" contenteditable="true" @input="resizeRawMovieContext">Select some subtitles from the left section</div>
                            <h6>Phrases</h6>
                            <table class="raw-movie-phrases"><tbody id="raw-movie-phrases-body"></tbody></table>
                            <button class="add-to-dictionary-button" @click.prevent="addToDictionary">Add to dictionary</button>
                        </div>
                    </div>
                    <div id="movies-content" class="content" v-if="movies">
                        <ul id="movie-list">
                            <li v-for="movie in movies">
                                <a v-bind:href="movie.href" @click.prevent="onMovieClicked">{{ movie.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div id="movie-content" class="content" v-if="movie">
                        <h1 class="header">{{ movie.name }}</h1>
                        <component v-bind:is="computedContexts"></component>
                        <a v-bind:href="'/movies/' + movie.name + '/test'" @click.prevent="onTestClicked">Test</a>
                    </div>
                    <div id="test-content" class="content" v-if="test">
                        <h1 class="header-test">Test: "{{ test.name }}"</h1>
                        <div class="word-video">
                            <span class="word-translation"> {{testPhraseTranslation}} </span>
                            <img class="image" src="1.jpg" @click.prevent="toggle" alt="video">
                        </div>
                        <div class="context" @click.prevent="showHideContext('block_id')">
                            <p class="text" id="show-context">Show context</p>
                            <p class="text" id="block_id" style="display: none;"> {{testPhraseContext}} </p>
                        </div>
                        <div class="actions">
                            <img class="action-button ok" src="ok.png" @click.prevent="knowWord" alt="ok">
                            <img class="action-button not" src="close.png" @click.prevent="doNotKnowWord" alt="not">
                        </div>
                        <div class="trailer">
                            <video src="sea.mp4" controls="controls"></video>
                            <img src="close.png" class="close" @click.prevent="toggle">
                        </div>
                    </div>
                </div>
            </div>
            <div id="authentication" v-else>
                <form>
                    <input v-model="loginFormName" type="text" placeholder="Login" />
                    <input v-model="loginFormPassword" type="password" placeholder="Password" />
                    <button @click.prevent="onLoginClicked">Login</button>
                </form>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>
