<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Translate Subtitles Player</title>
        <link rel="shortcut icon" href="/images/logo.png" type="image/png">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/tooltip.css">
        <link rel="stylesheet" href="/css/raw-movies.css">
        <link rel="stylesheet" href="/css/raw-movie.css">
        <link rel="stylesheet" href="/css/movie.css">
        <link rel="stylesheet" href="/css/test.css">
        <script th:inline="javascript">
            var serverUsername = /*[[${username}]]*/ null;
            var serverMovies = /*[[${movies}]]*/ null;
            var serverMovie = /*[[${movie}]]*/ null;
            var serverTest = /*[[${test}]]*/ null;
            var serverRawMovies = /*[[${rawMovies}]]*/ null;
            var serverRawMovie = /*[[${rawMovie}]]*/ null;
        </script>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="vue-app">
            <div id="main" class="shell" v-if="username">
                <nav id="navigation" class="nav-bar">
                    <a href="/raw-movies/" @click.prevent="onRawMoviesClicked">Raw Movies</a>
                    <a href="/movies/" @click.prevent="onMoviesClicked">Movies</a>
                    <a href="/logout/" @click.prevent="onLogoutClicked">Logout ({{ username }})</a>
                </nav>
                <div id="content">
                    <div id="raw-movies-content" class="content" v-if="rawMovies">
                        <ul id="raw-movie-list">
                            <li class="raw-movie" v-for="rawMovie in rawMovies">
                                <a v-bind:href="'raw-movies/' + rawMovie.id" @click.prevent="onRawMovieClicked">{{ rawMovie.videoFilePath }}</a>
                                <div class="context-buttons">
                                    <div class="remove-button" v-bind:data-raw-movie-id="rawMovie.id" @click="removeRawMovie"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="raw-movie-content" class="content" v-if="rawMovie">
                        <div class="raw-movie-dictionary">
                            <label>Dictionary:</label>
                            <input id="dictionary" type="search" list="dictionary-data-list" placeholder="Select a dictionary or create a new one"/>
                            <datalist id="dictionary-data-list"></datalist>
                        </div>
                        <div class="raw-movie-half">
                            <h6>Subtitles</h6>
                            <component v-bind:is="computedSubtitles"></component>
                        </div>
                        <div class="raw-movie-half">
                            <div>
                                <h6>Context</h6>
                                <div id="raw-movie-context" class="raw-movie-context" contenteditable="true" @input="resizeRawMovieContext">Select some subtitles from the left section</div>
                            </div>
                            <div id="raw-movie-phrases-shell" style="display: none;">
                                <h6>Phrases</h6>
                                <table class="raw-movie-phrases"><tbody id="raw-movie-phrases-body"></tbody></table>
                                <button class="add-to-dictionary-button" @click.prevent="addToDictionary">Add to dictionary</button>
                            </div>
                        </div>
                    </div>
                    <div id="movies-content" class="content" v-if="movies">
                        <ul id="movie-list">
                            <li v-for="movie in movies">
                                <a v-bind:href="movie.href" @click.prevent="onMovieClicked">{{ movie.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div id="movie-content" class="content" v-if="movie">
                        <h1 class="header">{{ movie.name }}</h1>
                        <component v-bind:is="computedContexts"></component>
                        <a v-bind:href="'/movies/' + movie.name + '/test'" @click.prevent="onTestClicked">Test</a>
                    </div>
                    <div id="test-content" class="content" v-if="test">
                        <h1 class="test-header">Test: "{{ test.name }}"</h1>
                        <div v-if="test.phrase">
                            <p>Enter the translation of "{{ test.phrase.translation }}"</p>
                            <input type="text" v-model="test.userTranslation" :disabled="test.phraseTested">
                            <button @click.prevent="onSubmitTranslationButtonClicked" :disabled="test.phraseTested">Submit</button>
                            <button @click.prevent="onForgetTranslationButtonClicked" :disabled="test.phraseTested">View the answer</button>
                        </div>
                        <div v-if="test.phraseTested">
                            <component v-bind:is="computedTestContext"></component>
                            <button id="test-next-phrase-button" @click.prevent="onNextPhraseButtonClicked">Next phrase</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="authentication" v-else>
                <form>
                    <input v-model="loginFormName" type="text" placeholder="Login" />
                    <input v-model="loginFormPassword" type="password" placeholder="Password" />
                    <button @click.prevent="onLoginClicked">Login</button>
                </form>
            </div>
            <div class="player" v-if="contextVideoLink">
                <video id="player-video" src="{{ contextVideoLink }}" controls="controls"></video>
                <div class="close-player-button" @click="hideVideo"></div>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>
