.menu-bar, .context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.menu, .menu-item {
    -fx-cursor: hand;
}

.menu .label {
    -fx-text-fill: white;
}

.italic {
    -fx-font-style: italic;
}

.menu-bar-button-box {
    -fx-alignment: top-right;
    -fx-padding: 8;
}

.grid-pane {
    -fx-vgap: 20;
}

.subtitles {
    -fx-text-alignment: center;
    -fx-padding: 6 24;
    -fx-background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
}

.translation {
    -fx-text-alignment: center;
    -fx-padding: 6 12;
    -fx-background-color: rgba(0, 0, 0, 0.9);
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: rgba(255, 255, 255, 0.9);
    -fx-border-radius: 8;
}

.arrow-down {
    -fx-image: url('../icons/arrow-down-flat.png');
    -fx-opacity: 0.9;
}

.spinner {
    -fx-image: url('../icons/spinning-drop-in-ring.gif');
}

.tooltip {
    -fx-text-alignment: center;
    -fx-padding: 6 12;
    -fx-background-color: rgba(0, 0, 0, 0.9);
    -fx-background-radius: 8;
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 255, 255, 0.9);
    -fx-border-radius: 8;
}

.controls {
    -fx-vgap: 8;
    -fx-padding: 8;
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.controls-daemon-box {
    -fx-min-height: 16;
    -fx-max-height: 16;
}

.controls > HBox {
    -fx-spacing: 8;
}

.controls Label {
    -fx-text-fill: rgba(255, 255, 255, 0.75);
}

.controls Button, .pin-button {
    -fx-min-width: 32;
    -fx-min-height: 32;
    -fx-max-width: 32;
    -fx-max-height: 32;
    -fx-background-color: transparent;
    -fx-background-size: 24;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.75;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.75), 1, 0, 0, 0);
}

.controls Button:hover, .pin-button:hover {
    -fx-background-color: -fx-accent;
    -fx-opacity: 1;
}

.controls Button:disabled, .pin-button:disabled {
    -fx-opacity: 0.4;
}

.controls Button:pressed, .pin-button:pressed {
    -fx-background-size: 22;
    -fx-effect: innershadow(gaussian, black, 8, 0, 0, 0);
}

.control-button-play {
    -fx-background-image: url('../icons/play.png');
}

.control-button-pause {
    -fx-background-image: url('../icons/pause.png');
}

.control-button-stop {
    -fx-background-image: url('../icons/stop.png');
}

.control-button-expand {
    -fx-background-image: url('../icons/expand.png');
}

.control-button-collapse {
    -fx-background-image: url('../icons/collapse.png');
}

.control-button-skip-left {
    -fx-background-image: url('../icons/skip-left.png');
}

.control-button-skip-right {
    -fx-background-image: url('../icons/skip-right.png');
}

.control-button-skip-left-ten {
    -fx-background-image: url('../icons/skip-left-10.png');
}

.control-button-skip-current {
    -fx-background-image: url('../icons/skip-current.png');
}

.control-button-skip-right-ten {
    -fx-background-image: url('../icons/skip-right-10.png');
}

.control-button-sound-high {
    -fx-background-image: url('../icons/sound-high.png');
}

.control-button-sound-medium {
    -fx-background-image: url('../icons/sound-medium.png');
}

.control-button-sound-low {
    -fx-background-image: url('../icons/sound-low.png');
}

.control-button-sound-mute {
    -fx-background-image: url('../icons/sound-mute.png');
}

.pin-button {
    -fx-background-image: url('../icons/unpinned.png');
}

.pin-button:selected {
    -fx-background-image: url('../icons/pinned.png');
}

.slider {
    -fx-pref-height: 10;
    -slider-filled-track-color: -fx-accent;
    -slider-track-color: -slider-filled-track-color;
    -fx-cursor: hand;
}

.slider .thumb {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.slider .track {
    -fx-background-color: -slider-track-color;
}
