.left-part {
    position: absolute;
    left: 0;
    width: 49%;
    height: 95%;
    border-radius: 15px;
    border: 2px solid #000000;
    margin-left: 5px;
}

.right-part {
    position: absolute;
    right: 0;
    width: 49%;
    height: 95%;
    border-radius: 15px;
    border: 2px solid #000000;
    margin-right: 5px;
}

.context-title {
    position: relative;
    text-align: center;
    top: 0;
    height: 50px;
}

.context-text {
    margin: 15px 15px 15px 15px;
}

.context-raw {
    right: 0;
    top: 50px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid #000000;
    margin: 15px 15px 15px 15px;
}

.phrase-nav div {
    display: inline-block;
    position: absolute;
    top: 90%;
    text-align: center;

}

.prev-phrase {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    left: 5%;
    cursor: pointer;
}

.next-phrase {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    left: 35%;
    cursor: pointer;
}

.opt-titles div {
    display: inline-block;
    position: absolute;
    top: 55%;
    text-align: center;
}

#phrase-opt {
    right: 80%;
}

#translation-opt {
    right: 45%;
}

#type-opt {
    right: 20%;
}

.phrase p {
    display: inline-block;
    position: absolute;
    top: 60%;
}

#phrase-select {
    right: 70%;
    height: 20px;
    width: max-content;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 3px 3px 3px 3px;
}

#translation-select {
    right: 45%;
}

#type-select {
    right: 10%;
}

.text-all {
    margin: 20px;
    overflow-y:scroll;
    max-height: 600px;
}

.add-to-dict {
    position: absolute;
    bottom: 10%;
    right: 7%;
    height: 20px;
    width: max-content;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 3px 3px 3px 3px;
}
