.raw-movie-content h6, .raw-movie-dictionary > label {
    font-weight: 900;
}

.raw-movie-content input, .raw-movie-content select {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.raw-movie-dictionary {
    text-align: center;
    margin: 10px;
}

.raw-movie-dictionary > label {
    margin-right: 5px;
}

.raw-movie-dictionary > input {
    width: 250px;
}

.raw-movie-half {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px 0;
}

.raw-movie-half h6 {
    text-align: center;
}

.raw-movie-subtitles, .raw-movie-context {
    box-sizing: border-box;
    overflow: auto;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    width: calc(100% - 20px);
    min-height: 100px;
}

.subtitle {
    margin: 10px 0;
}

.subtitle-time {
    user-select: none;
    margin-left: 10px;
    font-size: 10px;
}

.subtitle-time > span {
    padding: 0 3px;
    border-radius: 3px;
    background: rgba(0, 255, 255, 0.15);
}

.raw-movie-context {
    resize: none;
    max-height: 250px;
    font: 18px Trebuchet MS, sans-serif;
}

.raw-movie-phrases {
    box-sizing: border-box;
    margin: 10px;
    width: calc(100% - 20px);
}

.raw-movie-phrases th {
    font-size: 15px;
}

.raw-movie-phrases td {
    vertical-align:middle;
}

.raw-movie-phrases input {
    width: 98%;
}

.raw-movie-phrases select {
    width: 100%;
}

.raw-movie-phrases-delete-row {
    margin: auto;
    width: 16px;
    height: 16px;
    background: url('../images/delete-cross.png');
    cursor: pointer;
}

.add-to-dictionary-button {
    display: block;
    margin: 10px auto;
    background: #fc4e6f;
}

.add-to-dictionary-button:hover {
    background: #f93358;
}
