.raw-movie-dictionary {
    text-align: center;
    margin: 10px;
}

.raw-movie-dictionary > label {
    margin-right: 5px;
}

.raw-movie-dictionary > input {
    width: 250px;
}

.raw-movie-half {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px 0;
    background: rgba(255, 255, 0, 0.2);
}

.raw-movie-half h6 {
    text-align: center;
}

.raw-movie-subtitles, .raw-movie-context {
    box-sizing: border-box;
    overflow: auto;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: calc(100% - 20px);
    min-height: 100px;
}

.translated-phrase {
    background: green;
}

.raw-movie-subtitles {

}

.subtitle {
    margin: 10px 0;
}

.subtitle-time {
    user-select: none;
    margin-left: 10px;
    font-size: 10px;
}

.raw-movie-context {
    resize: none;
    max-height: 250px;
    font: 18px Trebuchet MS, sans-serif;
}

.raw-movie-phrases {
    box-sizing: border-box;
    margin: 10px;
    width: calc(100% - 20px);
}

.raw-movie-phrases td {
    vertical-align:middle;
}

.raw-movie-phrases input {
    width: 98%;
}

.raw-movie-phrases select {
    padding: 2.5px 0;
    width: 100%;
}

.raw-movie-phrases-delete-row {
    margin: auto;
    width: 16px;
    height: 16px;
    background: url('../images/delete-cross.png');
    cursor: pointer;
}

.add-to-dictionary-button {
    display: block;
    margin: 10px auto;
}
